@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  background-color: #f0efeb;
  height: 100%;
  width: 100%;
}

section {
  height: 100vh;
  width: 100vw;
}

section > div {
  display: flex;
  flex-wrap: wrap;
}

.container-1 {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container-1 > div {
  height: 50%;
  width: 400px;
  position: relative;
}

li {
  text-align: left;
}

.img {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.img-1933-1938 {
  background-image: url(./images/hitler-election.jpeg);
}

.img-1939 {
  background-image: url(./images/poland-division.jpeg);
}

.img-1940 {
  background-image: url(./images/london-blitz.jpeg);
}

.img-1941 {
  background-image: url(./images/leningrad.jpeg);
}

.img-1942 {
  background-image: url(./images/midway.jpeg);
}

.img-1943 {
  background-image: url(./images/germany-bombing.jpeg);
}

.img-1944 {
  background-image: url(./images/d-day.jpeg);
}

.img-1945 {
  background-image: url(./images/hiroshima.jpeg);
}

.text {
  padding: 10px 10px;
}

h2 {
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
}

h5 {
  margin: 0;
  padding: 0;
  margin: 10px;
  font-style: italic;
}

h6 {
  background-color: #f0efeb;
  margin: 0;
  padding: 0;
}

.caption {
  position: absolute;
  top: 96.5%;
  width: 100%;
}
